{% extends "BourseBundle::layout.html.twig" %}

{% block title %} Tableau de Bord {% endblock %}

{% block body %}


{% if bourse != null  %}

<section class=" intro wrap">
	<p>
		Ma bourse : {{bourse.name}}
	</p>
	<a href="{{ path('bourse_closeBourse') }}"> <button class="btn btn-large btn-warning" type="button"><i class="icon-off"></i> Fermer cette bourse</button> </a>
</section>

<section class="content">

	<div class="wrap">

		<h1>Information bourse</h1>
		<div class="span7">
			<p> <span style="font-weight:bold"> Bourse : </span> {{bourse.name}}</p>
			<p> <span style="font-weight:bold"> Theme : </span> {{bourse.theme}} </p>
			<p> <span style="font-weight:bold"> Lieu : </span> {{bourse.lieu}} </p>
			<p> <span style="font-weight:bold"> Ouverture :  </span> {{bourse.dateCreated |date("d/m/Y")}}  </p>
		</div>

		<div class="span5">
			<h4>Description</h4>
			<div class="scrollable" style="height: 150px; overflow-y: auto"> {{bourse.description | nl2br }}</div>
		</div>

		<table class="table table-bordered">
			<thead>
				<tr>
					<th style="text-align:center" >Articles Déposés</th>
					<th style="text-align:center" >Articles Rétirés</th>
					<th style="text-align:center" >Articles vendus</th>
				</tr>
			</thead>
			<tbody>
				<tr class="warning important">
					<td style="text-align:center">{{bourse.artDepose}}</td>
					<td style="text-align:center">{{bourse.nbArtRetire}}</td>
					<td style="text-align:center">{{bourse.artVendu}}</td>
				</tr>
			</tbody>
		</table>
		<div class="progress">
		  <div class="important bar" style="width: {{bourse.percent}}%;">{{bourse.percent}} % </div>
		</div>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th style="text-align:center" >Factures Réalisées</th>
					<th style="text-align:center" >Recettes</th>
					<th style="text-align:center" >Reversements aux déposants</th>
				</tr>
			</thead>
			<tbody>
				<tr class="success important">
					<td style="text-align:center">{{bourse.nbFacture}}</td>
					<td style="text-align:center">{{bourse.recette}} €</td>
					<td style="text-align:center">{{bourse.charge}} €</td>
				</tr>
				<tr>
					<td colspan="2" style="text-align:center"><a href="{{ path('bourse_listeFacture') }} "><button class="btn btn-info" type="button">Liste des factures</button></a></td>
					<td style="text-align:center"> <a href="{{ path('bourse_all_deposant' , {display : 'tableau' })}}"><button class="btn btn-info" type="button">Liste des déposants</button></a></td>
				</tr>
			</tbody>
		</table>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th style="text-align:center" >Bénéfice</th>
				</tr>
			</thead>
			<tbody>
				<tr class="error important">
					<td style="text-align:center">{{bourse.recette - bourse.charge }} €</td>
				</tr>
			</tbody>
		</table>


	</div>

</section>

{% endif %}


<section class="content">
	<div class="wrap">

		<h1>Mes anciennes bourses</h1>
		<table class="table table-bordered table-hover" >
			<thead>
				<tr>
					<th>Bourse</th>
					<th>Theme</th>
					<th>Lieu</th>
					<th>Ouverture</th>
					<th>Fermeture</th>
					<th>Durée</th>
					<th>Montant des ventes</th>
					<th>Reversements </th>
					<th>Articles déposés</th>
					<th>Articles vendus</th>
				</tr>
			</thead>
			<tbody>
				{% for bourse  in listBourse %}
				<tr>
					<td> {{bourse.name}} </td>
					<td> {{bourse.theme}} </td>
					<td> {{bourse.lieu}}  </td>
					<td> {{bourse.dateCreated |date("d/m/Y") }}</td>
					<td> {{bourse.dateClose |date("d/m/Y") }}</td>
					<td> {{bourse.long}} jour(s)</td>
					<td> {{bourse.gain}} € </td>
					<td> {{bourse.charge}} € </td>
					<td> {{bourse.artDepose}} </td>
					<td> {{bourse.artVendu}} </td>
				</tr>
				{% endfor %}
			</tbody>
		</table>

	</div>
</section>

{% endblock %}

