{% extends "BourseBundle::layout.html.twig" %}

{% block title %} Article {{article.nro}}  {% endblock %}


{% block body %}


<section class="content">

	<div class="wrap">

		<p>
			<a href="{{ path('bourse_modifArticle' , {nro : article.nro }) }}"><button class="btn btn-large btn-primary" type="button">Editer</button></a>
			<a href="{{ path('bourse_deleteArticle' , {nro : article.nro }) }}"><button class="btn btn-large btn-danger" type="button">Sortir du dépot</button></a>
		</p>

		<fieldset>

			<legend>Article </legend>

			<div class="span7">
				<div class="important">Nro : {{article.nro}}</div>
				<h3> Article : {{article.name}}</h1>
				<p> <span style="font-weight:bold"> Prix de référence : </span> {{article.price}} €  </p>
				<p> <span style="font-weight:bold"> Date de dépot : </span> {{article.dateDepot |date("d/m/Y") }} </p>
				<div class="warning alert alert-error">Prix Total : {{article.getTotalPrice}} € </div>
			</div>

			<div class="span5">
				<h4>Description et informations</h4>
				<div class="scrollable" style="height: 300px; overflow-y: auto"> {{article.description | nl2br }}</div>
			</div>
		</fieldset>

		<fieldset>
			<legend>Informations Déposant </legend>

			<table class="vertical table table-hover">
				<tbody>
					<tr>
						<td>Nro</td>
						<td><a href="{{ path('bourse_deposant',{id: article.user.id}) }}">{{article.user.id}}</a></td>
					</tr>
					<tr>
						<td>Nom</td>
						<td>{{article.user.name}}</td>
					</tr>
					<tr>
						<td>Prénom</td>
						<td>{{article.user.firstName}}</td>
					</tr>
					<tr>
						<td>Adresse</td>
						<td>{{article.user.address}}</td>
					</tr>
					<tr>
						<td>Téléhpone</td>
						<td>{{article.user.tel}}</td>
					</tr>
					<tr>
						<td>Email</td>
						<td>{{article.user.mail}}</td>
					</tr>
					<tr>
						<td>Date d'inscription</td>
						<td>{{article.user.dateInscription |date("d/m/Y") }}</td>
					</tr>
				</tbody>
			</table>
		</fieldset>

	</div>

</section>


{% endblock %}