{% extends "BourseBundle::layout.html.twig" %}

{% block title %} Bourse {% endblock %}


{% block body %}


<section class=" intro wrap">
	Facturation
</section>


<section class="content">

	<div class="wrap">
		<h1 class="important">Nouvelle facture</h1>

		{% for message in app.session.flashbag.get('addArt_success') %}
			<div class="alert alert-success"> {{ message }} </div>
      	{% endfor %}

      	{% for message in app.session.flashbag.get('addArt_error') %}
      		<div class="alert alert-error"> {{ message }} </div>
      	{% endfor %}

		<div class="navbar navbar-inverse">
			<div class="navbar-inner">
				<a class="brand" href="#">Facture n° {{nroFact}}</a>
				<form class="navbar-form pull-left" method="post" action="{{ path('bourse_addArticleFacture') }}">
					<input type="text" name="nro" class="span3" placeholder="Ajouter un article">
					<button class="btn btn-primary" type="submit">
						<i class="icon-plus-sign icon-white"></i>
					</button>
				</form>
				<ul class="nav pull-right">
					<li class="active"><a href="#">{{lenghtTab}} article(s)</a></li>
				</ul>
			</div>
		</div>
		<table class="table table-bordered table-hover" >
			<thead>
				<tr>
					<th>Nro Article</th>
					<th>Titre Article</th>
					<th>Prix reférence</th>
					<th>Prix Total</th>
					<th style="text-align:center">Détails</th>
					<th style="text-align:center">Supprimer</th>
				</tr>
			</thead>
			<tbody>
				{% for article  in current_facture %}
				<tr>
					<td> {{article.nro | upper}} </td>
					<td> {{article.name}} </td>
					<td> {{article.getPrice}} € </td>
					<td> {{article.getTotalPrice}} € </td>
					<td style="text-align:center"><a href="{{ path('bourse_article',{nro: article.nro}) }} "><button class="btn btn-info"><i class="icon-search icon-white"></i></button></a></td>
					<td style="text-align:center"><a href="{{ path('bourse_deleteArticleFacture',{id: article.id}) }} "><button class="btn btn-danger"><i class="icon-remove-sign icon-white"></i></button></a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>

		{% if (current_facture) %}

		<div class="pull-right">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th style="text-align:center" >Valider</th>
						<th style="text-align:center" >Annuler</th>
						<th style="text-align:center" >Montant Total</th>
					</tr>
				</thead>
				<tbody>
					<tr class="success">
						<td style="text-align:center" ><a href="{{ path('bourse_saveFacture') }}"> <button class="btn btn-success"><i class="icon-ok icon-white"></i></button></a> </td>
						<td style="text-align:center" ><a href="{{ path('bourse_removeFacture') }}"> <button class="btn btn-danger"><i class="icon-remove icon-white"></i></button></a> </td>
						<td style="text-align:center" class="important" >{{totalFact}} €</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div style="clear:both"></div>

		{% endif %}

	</div>

</section>


<section class=" intro wrap">
	Recherche d'articles
</section>

<section class="content">

	<div class="wrap">
		<fieldset>
			<legend>Saisir l'ID d'un article</legend>
			<form class="form-search" method="get" action="{{ path('bourse_article_get') }}">
				<input type="text" name="nro" placeholder="Saisir le numéro d'identification" class="input">
				<button type="submit" class="btn">Rechercher</button>
			</form>
		</fieldset>

		<fieldset>
			<legend>Afficher une liste d'article du dépot </legend>

			<p>
				 <a href="{{ path('bourse_all_article') }}"> <button type="submit" class="btn btn-primary">Tous les articles</button> </a>
			</p>

			<form class="form-search">
				<input type="text" placeholder="Saisir un titre" class="input-medium">
				<button type="submit" class="btn btn-inverse">Par titre</button>
			</form>

			<form class="form-search">
				<input type="text" placeholder="Saisir des mots clés" class="input-medium">
				<button type="submit" class="btn btn-inverse">Par mots clés</button>
			</form>

			<form class="form-search">
				<input type="text" placeholder="Saisir un prix" class="input-medium">
				<button type="submit" class="btn btn-inverse">Par prix</button>
			</form>

		</fieldset>
	</div>

</section>



{% endblock %}

