{% extends "BourseBundle::layout.html.twig" %}

{% block title %} {{text}} {% endblock %}

{% block body %}


<section class="intro wrap">
	{{text}}  <a href="{{ path('bourse_all_article' , {display : 'liste' })}}"><button class="btn" type="button">Afficher la vue liste</button></a>
</section>


<section class="content">

	<div class="wrap">

		<table class="table table-condensed">

			<tr>
				<th>Nro</th>
				<th>Titre</th>
				<th>Prix</th>
				<th>Date de Dépot</th>
				<th>Déposant</th>
				<th>Détails</th>
			</tr>
			{% for article  in listArticle %}

			<tr>
				<td>{{article.nro | upper}}</td>
				<td>{{article.name}}</td>
				<td>{{article.getTotalPrice}}</td>
				<td>{{article.dateDepot | date("d/m/Y") }}</td>
				<td><a href="{{ path('bourse_deposant',{id: article.user.id}) }}"> {{article.user.name}} {{article.user.firstName}} (Nro : {{article.user.id}})</a></td>
				<td><a href="{{ path('bourse_article',{nro: article.nro}) }} "><button class="btn btn-info" type="button">Voir la fiche</button></a></td>
			</tr>

			{% endfor %}

		</table>
	</div>

</section>

{% endblock %}

